doctype html
html(lang='en' x-data="{ darkMode: localStorage.getItem('dark') === 'true'}" x-init="$watch('darkMode', val => localStorage.setItem('dark', val))" x-bind:class="{ 'dark': darkMode }")
  head
    meta(charset="UTF-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{ title }
    meta(name="description" content=description)
    link(rel="canonical" href=filters.url(settings.url + page.url))
    link(rel="stylesheet" type="text/css" href="/static/css/style.css")
    if prism
      link(rel="stylesheet" type="text/css" href="/static/css/prism-tomorrow.css")
    script(src="/static/js/alpine.js" defer)
    script.
      if (
        localStorage.getItem('color-theme') === 'dark' ||
        (!('color-theme' in localStorage) &&
          window.matchMedia('(prefers-color-scheme: dark)').matches)
      ) {
        document.documentElement.classList.add('dark');

      } else {

        document.documentElement.classList.remove('dark');
      }

  body(class="bg-white dark:bg-black text-black dark:text-white")
    include ./partials/navbar.pug

    | !{content}

    include ./partials/footer.pug

    if path=="home"
      script(type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js" defer)
