---
title: About
permalink: "| /about/"
description: All about stuff
---

h2 Liam Martin - Technical SEO and Analytics consultant

p.my-5 With over #{ filters.year() - 2012} years 🎉 of experience in the industry, I've helped countless companies maximize their search engine rankings, boost traffic to websites, increase conversions. It has become both my pride and my passion to boost engagement along all digital marketing channels with my holistic SEO approaches tailored to suit individual business needs.

p.my-5 Being both a seasoned marketeer and skilled developer, I'm able to straddle that tricky area between the disciplines. My speciality is in turning reports from Ahref/Semrush into actionable software projects to help drive interdepartmental success.

| !{ filters.image({ src: "src/static/img/example-looker-report.png", alt: "Looker Studio reports use live data and can be printed or presented easily at meetings", _class: "drop-shadow-xl rounded-3xl object-fill w-auto m-auto mb-5", lazy: false}) }

p.my-5 If you're looking to improve the performance of your website: then I have a track record of success in improving search engine rankings, increasing website traffic, and driving conversions. My expertise in technical SEO and Analytics allows me to not only identify areas for improvement on your website, but also to implement solutions and track their effectiveness in an open and easy to understand style.


p.my-5   
| Want proof? 
a.underline(href="/contact") Reach out 
| and let me show you how I've helped others succeed. It might even be your success story!
