---
title: About
permalink: "| /about/"
description: All about stuff
---

h2 Liam Martin - Technical SEO and Analytics consultant

p.my-5 With over #{ filters.year() - 2012} years of experience in the industry, I have developed a strong understanding of how to optimize websites for search engines and track their performance.

p.my-5 I have a passion for helping businesses grow through digital marketing and have a track record of success in improving search engine rankings, increasing website traffic, and driving conversions. My expertise in technical SEO and Analytics allows me to not only identify areas for improvement on your website, but also to implement solutions and track their effectiveness.

p.my-5 I am skilled in a range of tools and techniques, including [List relevant tools and techniques], and I pride myself on staying up-to-date with the latest industry developments and best practices. I am committed to delivering results for my clients and working collaboratively to achieve their business goals.

p.my-5 If you're looking to improve the performance of your website and drive more traffic and conversions, I'd love to help. Please don't hesitate to 
    a(href="/contact") get in touch.