---
title: Contact
permalink: "| /contact/"
description: Contact me here
---

article Email: 
  a(class="underline" href="mailto:info@cardiff.marketing") info@cardiff.marketing

  p.mt-5 Or send an email from here:

  form(method="POST" class="shadow-xl rounded px-8 pt-6 pb-8 mb-4")
    input(type="hidden" name="static-form-name" value="contact")
    div(class="mb-4")
      label(class="block text-gray-700 dark:text-white text-sm font-bold mb-2") Name
        input(type="text" name="name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline")
    div(class="mb-4")
      label(class="block text-gray-700 dark:text-white text-sm font-bold mb-2") Email
        input(type="email" name="email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline")
    div(class="mb-4")
      label(class="block text-gray-700 dark:text-white text-sm font-bold mb-2") Message
        textarea(name="message" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline")
    div(class="cf-turnstile my-5" data-sitekey="0x4AAAAAAAB4Bxtfv-SEqs9o")
    button(type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800") Submit
