---
title: Thanks for the Email
eleventyExcludeFromCollections: true
permalink: "| /thank-you/"
description: Thanks for getting in touch, we'll be speaking to you very soon.
---

div(class="container mx-auto flex flex-col justify-center items-center")

    h2 I'll be in touch soon.

    p In the mean time, here are some informative posts that might give you some ideas.

    h3.mt-5 Blog Posts
    include /partials/post-list.pug
    h3.mt-5 Code Snippets
    include /partials/snippet-list.pug
