@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/
h1 {
  @apply text-3xl md:text-5xl tracking-tighter mb-3 text-center lg:text-6xl;
}

h2, h3 {
  @apply text-2xl font-bold mb-3;
}
h2 {
  @apply text-center;
}
/*Plan to implement this: https://www.joshwcomeau.com/css/full-bleed/*/

/*Syntax Highlighting*/
body {
  @apply font-sans;
}

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800; 
}

a {
  @apply hover:text-indigo-500;
}

img {
  @apply object-scale-down rounded-xl hover:object-contain;
  max-height: calc(400/16)em;
}

picture {
  @apply bg-slate-300 py-5 dark:bg-slate-600;
}

.hero {
  @apply mx-auto mb-10;
  max-width: calc(500/16)em;
  max-height: calc(400/16)em;
}

.image-label {
  @apply text-sm text-center;
}

.prose > img {
  @apply transition-all hover:scale-125 focus:scale-125;
  
}
