@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/
h1 {
  @apply text-3xl md:text-5xl tracking-tighter mb-3 text-center lg:text-6xl;
}

h2, h3 {
  @apply text-2xl font-bold mb-3;
}
html {
  scroll-behavior: smooth;
}
body {
  @apply font-sans;
}

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800; 
}

a {
  @apply hover:text-indigo-500;
}

.hero {
  @apply mx-auto;
  max-width: calc(500/16)rem;
  max-height: calc(400/16)rem;
}

figcaption {
  @apply mt-2 text-sm text-center italic;
}
