---
title: Cardiff.Marketing
description: Cutting edge digital marketing insights on Email, SEO, PPC, Analytics and Web Development.
path: home
layout: default
---

div(class="container mx-auto flex flex-col justify-center items-center")
  h1 Welcome to 
    strong(class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500") #{title}
  p Digital Marketing consultancy specialising in SEO, Analytics, and Web Marketing advice.

  include ./_includes/partials/post-list.pug
