---
title: Cardiff.Marketing
description: Cutting edge insights on Digital Marketing and Web Development from a cozy place in Cardiff, Wales.
path: home
layout: default.pug
---

div(class="container relative mx-auto flex flex-col justify-center items-center")
  img(src="/static/img/cardiff-night3.webp" x-show="darkMode" class="absolute top-0 -z-10 min-vw-full image-fade")
  img(src="/static/img/cardiff-day3.webp" x-show="!darkMode" class="absolute top-0 -z-10 min-vw-full image-fade")
  h1.m-5 Cardiff based Marketing insights
  p.m-4 The latest digital marketing and web development insights from consultant 
    a(href="/contact" class="underline hover:text-zinc-600") Liam Martin 

  h2.mt-5 Blog Posts
  div(class="w-full max-w-5xl grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 gap-4 my-8 px-4 lg:mx-0")
    include /partials/post-list.pug
  h2.mt-5 Code Snippets
  div(class="w-full max-w-5xl grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 gap-4 my-8 px-4 lg:mx-0")
    include /partials/snippet-list.pug 
