---
title: Cardiff.Marketing
description: Cutting edge digital marketing insights on Email, SEO, PPC, Analytics and Web Development.
path: home
layout: default
---

div(class="container mx-auto flex flex-col justify-center items-center")
  h1.mx-4 Welcome to 
    strong(class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500") #{title}
  p.mx-4 Digital Marketing consultancy specialising in SEO, Analytics, and Digital Strategy.
  div(class="w-full max-w-5xl grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 gap-4 my-8 px-4 lg:mx-0")
    include /partials/post-list.pug
