---
title: Cardiff.Marketing
description: Cutting edge digital marketing insights on Email, SEO, PPC, Analytics and Web Development.
path: home
layout: default.pug
---

div(class="container mx-auto flex flex-col justify-center items-center")
  h1.m-5
    strong(class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500") #{title}
  p.mx-4 The latest in web strategy insights from consultant Liam Martin. 
  p For advice on your Digital Marketing strategy, 
    a.underline(href="/contact") get in touch.
  div(class="w-full max-w-5xl grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 gap-4 my-8 px-4 lg:mx-0")
    include /partials/post-list.pug 
