nav(class="sticky top-0 dark:bg-slate-700 bg-slate-200")
    div(class="w-full flex items-center justify-between flex-wrap p-3 container mx-auto")
        div(class="flex text-center flex-grow text-indigo-400")
            a(href="/" class="flex text-center font-bold text-lg")
                svg(class="w-6 h-6 mx-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
                    path(stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6")
                <p> cardiff.marketing </p>
        div(class="flex text-center ")
            if collections.page
                ul(class="list-reset flex justify-end flex-1 items-center")
                    each item in nav.items
                        li(class="nav__item mr-3")
                            a(class="text-ml inline-block no-underline hover:text-indigo-500 py-2 px-4" href=item.url) #{ item.title }
                    li(class="nav__item mr-3")
                        button(type="button" class="px-3 py-2  hover:text-indigo-500 rounded-lg font-semibold focus:outline-none" @click="darkMode = ! darkMode")
                            svg(id="theme-toggle-dark-icon" x-show="!darkMode" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg")
                                path(d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z")
                            svg(id="theme-toggle-light-icon" x-show="darkMode" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg")
                                path(d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd")
