- let posts = collections.post.reverse()
each post in posts
    a(href=post.url class="p-5 border rounded-2xl border-gray-200 hover:border-purple-400 shadow-lg hover:shadow-xl")
        | !{ filters.image({ src: post.data.thumbnail, alt: post.data.thumbnaildesc, _class: "drop-shadow-xl rounded-3xl object-cover max-h-48", lazy: false}) }
        h2 #{ post.data.title }
        p #{ post.data.description }