- let snippets = collections.snippet.reverse();

div(class="card")
  each post in snippets
    a.p-5.border.rounded-2xl.border-gray-200.shadow-lg(
      href=post.url
    )
      h2 #{ post.data.title }
      p #{ post.data.description }
