each post in collections.snippet.reverse()
    a(href=post.url class="p-5 border rounded-2xl border-gray-200 hover:border-purple-400 shadow-lg hover:shadow-xl")
        h2 #{ post.data.title }
        p #{ post.data.description }
